.c-btn{
    display: inline-block;
    color: white;
    text-transform: uppercase;
    // border: 2px solid #0000;
    padding: 21px 95px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
   
}