.c-news{
    margin-bottom: 119px;
}
.c-news__list{

   margin-bottom: 60px;
}
.c-title{
    width: 100%;
    align-items: center;
    padding: 5px 19px;
    font-size: 24px;
    font-weight: bold;
    background-color: #fff9da;
    margin-bottom: 30px;
}
.c-news__title{
    border: 1px solid #ffd800;
    border-left: 7px solid #ffd800;
}
.c-news__item{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 30px;
    
}
.c-news__content h4{
    margin-top: -6px;

    
}
.c-news__content p{
    margin-top: 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.c-news__content div {
    text-align: right;
}
.c-news__text1{
    margin-bottom: 13px;
}
.c-news__text2{
    margin-bottom: 54px;
}
.c-news__text3{
    margin-bottom: 33px;
}
.c-news__text4{
    margin-bottom: 74px;
}
.c-news__content button{
    display: inline-block;
    padding: 15px 56px;
    background-color:#afafaf;
    outline: none;
    border: 0;
    border-radius: 4px;
    margin-left: auto;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.c-news__catelory{
    position: absolute;
    padding: 3px 21px;
    font-size: 14px;
    font-weight: 400;
}

.c-news__btn{
    display: block;
    background-color: #ffd800;
    margin: 0 auto;
} 
.c-news__desc1{
    margin-bottom: 2px;
}

