$main-fonts: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$max-width: 1000px;
$main-color: #fff;
$second-color: #afafaf;
$green-color: #a3d39c;
$yellow-color: #fff799;
$pink-color: #ffdfdf;
$main-fontsize: 16px;
