
.c-link2 h4{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.c-link2__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.c-link2__item{
    width: 236px;
}
.c-link2__item div{
    margin-bottom: 17px;
}
.c-link2__item span{
    font-size: 14px;
    font-weight: 500;
    padding: 6px 22px;
    
}
.c-link2__item p{
    font-size: 14px;
    font-weight: 500;
    margin-top: 18px;
    line-height: 20px;
}
.c-link2__custom1{
    margin-top: -20px;
}
.c-link2__custom1{
   margin-bottom: 15px;
}
.c-link2__custom2{
   margin-bottom: 52px;
}