.c-link4{
    margin-bottom: 110px;
}
.c-link4 h4{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;

}
.c-link4__title{
    padding: 7px 14px;
    background-color: #ece6e6;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 18px;
}
.c-link4__table{
    width: 491px;
    border-collapse: collapse;
}
.c-link4__table, th ,td{
    line-height: 20px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 7px 12px;
    font-size: 14px;
    font-weight: 500;
    
}
.c-link4 p {
    
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 18px;
    font-weight: 500;
}
.c-link4 a{
    color: #ff9c00;
    text-decoration: underline;
}
.c-link4__gray2{
   background-color: #d3d7d9;
   width: 65px;
}