.c-link3{
    margin-bottom: 53px;
}
.c-link3 h4{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 26px;

}
.c-link3 p {
    
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 17px;
    font-weight: 500;
}
.c-link3 a{
    color: #ff4242;
    text-decoration: underline;
}
.c-link3__title{
    padding: 10px 14px;
    background-color: #ece6e6;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 18px;
}
.c-link3__table{
    width: 491px;
    border-collapse: collapse;
}
.c-link3__table, th ,td{
    border: 1px solid #ccc;
    padding: 10px 20px;
}
.c-link3__table th{
    background-color: #acd373;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.c-link3__gray{
    background-color: #ece6e6;
}
.c-link3__blue{
    background-color: #6dcff6;

}